@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* { box-sizing: border-box; }

body {
    font-family: 'Noto Sans KR', sans-serif;
}

section {
    border: 1px solid black;
}

.main-area{ /* 제일 큰 영역 (middle1+middle2) */
    height: 1000px;
}

main {
    width: 1200px;
    height: auto;
    margin: auto;
}

.middle1{ /* 첫번재 행 ( 포토 영역) */
    height: 400px;
}

.photo{ 
    display: flex;
    height: 400px;
}

.photo>section:nth-child(1){ /* < 버튼 영역 */
    width: 10%;
}

.photo>section:nth-child(2){ /* 중간 사진+기사 영역 */
    width: 80%;
}

.photo>section:nth-child(3){ /* > 버튼 영역 */
    width: 10%;
}

.pic-area{ /* 중간 영역 (사진+기사글) */
    display: flex;
    justify-content: space-around;

}

#pic{ /* 사진 영역(이미지) */
    /* height: 300px; */
}


#pic{
    height: 80%;
    display: flex;
    justify-content: center;
}

#pic>img{
    height: 300px;
    width: 270px;
    border-radius: 100px 100px 0px 0px;
    margin-top: 10px;
}

#article{ /* 기사글 */
    height: 100px;
}

#article > p:nth-child(1){ /* 기사글 안에 p태그 제목 */
    font-weight: bold;
    font-size: 23px;
    margin: 0%;
    margin-bottom: 10px;

    text-align: center;
}

#article > p:nth-child(2){ /* 기사글 안에 p태그 밑에 내용 */
    font-weight: bold;
    font-size: 14px;
    margin: 0%;

    text-align: center;
}

.middle2{ /* 두번째 행 (지도+여행지 정보)*/
    height: 600px;
    display: flex;
}

.middle2>section:nth-child(1){  /* map-area */
    width: 60%;
    display: flex;
    justify-content: center;
}

.map-area > img{ /* 지도 이미지 */
    width: 400px;
    height: 600px;
   
}

.middle2>section:nth-child(2){  /* info-area */
    width: 40%;
}

.info-area>section:nth-child(1){ /* 여행지 정보 */
    height: 100px;
}

.region{
    font-weight: bold;
}

#SEOUL{
    display: inline-block;
    position: absolute;
    top : 800PX;
    left: 650PX;
    cursor: pointer;
    color: rgb(219, 157, 75);
}

#SEOUL:hover{
    color: white;
}

#kW{
    display: inline-block;
    position: absolute;
    top : 750PX;
    left: 750PX;
    cursor: pointer;
    color: rgb(202, 73, 95);
}

#kW:hover{
    color: white;
}

#kB{
    display: inline-block;
    position: absolute;
    top : 900PX;
    left: 770PX;
    cursor: pointer;
    color: green;
}

#kB:hover{
    color: white;
}

#kN{
    display: inline-block;
    position: absolute;
    top : 1000PX;
    left: 750PX;
    cursor: pointer;
    color: rgb(207, 80, 207);
}

#kN:hover{
    color: white;
}

#CB{
    display: inline-block;
    position: absolute;
    top : 840PX;
    left: 690PX;
    cursor: pointer;
    color: rgb(87, 82, 82);
}

#CB:hover{
    color: white;
}

#CN{
    display: inline-block;
    position: absolute;
    top : 870PX;
    left: 610PX;
    cursor: pointer;
    color: rgb(84, 154, 182);
}

#CN:hover{
    color: white;
}


#JB{
    display: inline-block;
    position: absolute;
    top : 960PX;
    left: 640PX;
    cursor: pointer;
    color: rgb(136, 17, 136);
}

#JB:hover{
    color: white;
}

#JN{
    display: inline-block;
    position: absolute;
    top : 1070PX;
    left: 610PX;
    cursor: pointer;
    color: #6d6565;
}

#JN:hover{
    color: white;
}

#JJ{
    display: inline-block;
    position: absolute;
    top : 1160PX;
    left: 600PX;
    cursor: pointer;
    color: rgb(4, 48, 10);
}

#JJ:hover{
    color: white;
}

#info-area{
    /* visibility: hidden;  */
}

#information{
    height: 30%;
}

.detail-area{
    height: 70%;
}

.detail{
    border: 1px solid black;
    width: 50px;
    height: 30px;
    border-radius: 50%;
    text-align: center;

    cursor: pointer;
}

#detail-area2{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

#info2{
    font-size: 50px;
    line-height: 250px;
    font-weight: bold;
}





