@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* { box-sizing: border-box; }

body {
    font-family: 'Noto Sans KR', sans-serif;
}

section {
    /* border: 1px solid black; */
}


main {
    width: 1200px;
    height: auto;
    margin: auto;
}

#middle1 {
    height: 1450px;
}


.title{ /* 제목 영역 */
    height: 170px;
    text-align: center;
}

mark{
    background-color: rgb(205, 231, 238);
    font-weight: bold;
}

.title>p{
    margin: 0;
    margin-bottom: 20px;
}

.title>p:nth-child(1){
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
}

.title>p:nth-child(2){
    font-weight: bold;
}

.title>p:nth-child(3){
    font-weight: bold;

}

.title>hr{
    margin-left: 90px;
    margin-right: 90px;
}


/* 좋아요/사진 영역 */
.like{ 
    height: 400px;
    margin-left: 90px;
    margin-right: 90px;
}

.like>p{ /* 좋아요 */
    height: 30px;
    margin: 0;
}

.like>section{ /* 사진 */
    height: 370px;
    display: flex;
    justify-content: center;
}


/* 상세정보 / 기사글 영역*/
.article{ 
    height: 210px;
    margin-left: 90px;
    margin-right: 90px;
}

.article>p:nth-child(1){ /* 상세정보 */
    font-size: 25px;
    margin: 0;
    margin-top: 30px;
    font-weight: bold;
}


/* 지도/상세정보 영역 */
.map{ /* 지도 */
    height: 600px;
    margin-left: 90px;
    margin-right: 90px;
}

.map>section:nth-child(1){
    height: 400px;
}



.map>section:nth-child(2){
    height: 200px;


}

.map1-1{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.map1-1>section:nth-child(1){
    width: 600px;
}

.map1-1>section:nth-child(2){
    width: 600px;
}









