@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* { box-sizing: border-box; }

body {
    font-family: 'Noto Sans KR', sans-serif;
}

main {
    width: 1200px;
    height: auto;
    margin: auto;
}

#middle5 { /* 중간 영역  */
    height: 700px;
}

#middle5 > hr{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.middle1-1{ /* 여행정보 | 서울 */
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
}

.middle1-1 > section:nth-child(1){ /* 여행정보 */
    font-size: 30px;
    font-weight: bold;
    width: 15%;
    text-align: end;
}

.middle1-1 > section:nth-child(2){ /* 서울 */
    width: 85%;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

.middle1-2{ /* 지역 중분류 */
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 55px;
}

.middle1-2>section{
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 70px;
    color: gray;
    padding: 2px;
    height: 30px;
    font-weight: bold;
    margin-top: 12px;
}

.middle1-2>section:hover{
    background-color: rgb(153, 216, 199);
    color: white;
}

#middle-area{
    height: 700px;
}

#middle-area > section:nth-child(1){
    height: 50%;
}

#middle-area > section:nth-child(2){
    height: 50%;
}

.middle1-2>section:hover{
    cursor: pointer;
}

.middle1-3{ /* 사진 영역 */
    display: flex;
    justify-content: space-evenly;
}

#middle > section:nth-child(1){ /* 여행정보 */
    height: 60px;
}

#middle > section:nth-child(2){/* 지역 중분류 */
    height: 40px;
}

#middle > section:nth-child(3){ /* 사진영역 1 */
    height: 100px;
    margin-top: 50px;
}

#middle > section:nth-child(4){ /* 사진영역 2 */
    height: 100px;
}

.photobox{ /* 사진 + 제목 영역 */
    width: 1000px;
    height: 240px;
}

.photo a {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.photo{ /* 사진 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.photo img{
    cursor: pointer;
    padding: 10px;
}


#title{ /* 제목 */
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}

#empty{
    width: 50px;
}
