@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* { box-sizing: border-box; }

body {
    font-family: 'Noto Sans KR', sans-serif;
}


main {
    width: 1200px;
    height: auto;
    margin: auto;
}

#middle1 {
    height: 1550px;
}


.title{ /* 제목 영역 */
    height: 170px;
    text-align: center;
}

mark{
    background-color: rgb(205, 231, 238);
    font-weight: bold;
}

.title>p{
    margin: 0;
    margin-bottom: 20px;
}

.title>p:nth-child(1){
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
}

.title>p:nth-child(2){
    font-weight: bold;
}

.title>p:nth-child(3){
    font-weight: bold;

}

.title>hr{
    margin-left: 90px;
    margin-right: 90px;
}


/* 좋아요/사진 영역 */
.bookmark-area{
    text-align: end;
    position: relative;
    margin-right: 100px;
}

#bookmark-btn{
    cursor: pointer;
}

#bookmark-btn2{
    cursor: pointer;
}

.like{ 
    height: 400px;
    margin-left: 90px;
    margin-right: 90px;
}

.like>p{ /* 좋아요 */
    height: 30px;
    margin: 0;
}

.like>section{ /* 사진 */
    height: 370px;
    display: flex;
    justify-content: center;
}


/* 상세정보 / 기사글 영역*/
.article{ 
    height: 210px;
    margin-left: 90px;
    margin-right: 90px;
}

.article>p:nth-child(1){ /* 상세정보 */
    font-size: 25px;
    margin: 0;
    margin-top: 30px;
    font-weight: bold;
}


/* 지도/상세정보 영역 */
.map{ /* 지도 */
    height: 600px;
    margin-left: 90px;
    margin-right: 90px;
}

.map>section:nth-child(1){
    height: 400px;
}


.map>section:nth-child(2){
    height: 200px;
}

.map1-1{
    margin-top: 20px;
}

.map1-1>section:nth-child(2){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;

}

.map1-1>section:nth-child(3){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;

}

.hashtag {
    margin-bottom: 10px;
}

.hashtag div{
    border: 2px solid rgb(153, 216, 199);
    text-align: center;
    width: 100px;
    color: gray;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
}

.hashtag div:hover{
    background-color: rgb(153, 216, 199);
    color: white;

}

.hashtag > a {
    text-decoration: none;
}

.map1-1 > p {
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
    color: gray;
}









