@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* { box-sizing: border-box; }

body {
    font-family: 'Noto Sans KR', sans-serif;
}

section {
   border: 1px solid black;
}


main {
    width: 1200px;
    height: auto;
    margin: auto;
}

#middle { /* 중간 영역  */
    height: 1300px;
}

#middle > hr{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.middle1-1{ /* 여행정보 | 서울 */
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
}

.middle1-1 > section:nth-child(1){ /* 여행정보 */
    font-size: 30px;
    font-weight: bold;
    width: 15%;
    text-align: end;
}

.middle1-1 > section:nth-child(2){ /* 서울 */
    width: 85%;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

.middle1-2{ /* 지역 중분류 */
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    /* border-bottom: 2px solid #ddd; */
    height: 60px;
}

.middle1-2>section{
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 65px;
    color: gray;
    padding: 2px;
    height: 30px;
    font-weight: bold;
}

.middle1-2>section:hover{
    cursor: pointer;
}

.middle1-3{ /* 사진 영역 */
    display: flex;
    justify-content: space-evenly;
}

#middle > section:nth-child(1){ /* 여행정보 */
    height: 60px;
}

#middle > section:nth-child(2){/* 지역 중분류 */
    height: 40px;
}

#middle > section:nth-child(3){ /* 사진영역 1 */
    height: 250px;
    margin-top: 50px;
}

#middle > section:nth-child(4){ /* 사진영역 2 */
    height: 250px;
}

#middle > section:nth-child(5){ /* 사진영역 3 */
    height: 250px;
}

#middle > section:nth-child(6){ /* 사진영역 4 */
    height: 250px;
}

.photobox{ /* 사진 + 제목 영역 */
    width: 250px;
}

.photo{ /* 사진 */
    display: flex;
    justify-content: center;
    align-items: center;
}


#title{ /* 제목 */
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}
