.content-area > p {
    border: none;
    margin-bottom: 100px;
}

.sub-title{
    text-align: center;
}

.list-style{
    list-style: none;

    font-size: 18px;
    text-align: center;

    line-height: 40px;
}

.picture{
    text-align: center;
}

.picture > img{
    width: 200px;
    height: 200px;
    margin: 1px;
}

.picture > img:hover{
    transform : translateY( -10px );
    transition-duration: 0.5s;
}