@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* { box-sizing: border-box; }

body {
    font-family: 'Noto Sans KR', sans-serif;
}

main {
    width: 1200px;
    height: auto;
    margin: auto;
}

header {
    width: 100%;
    height: 175px;
}

.head {
    width: 100%;
    height: 175px;
    display: flex;
}


/* 로고 */
#logo {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.head > section:nth-child(2) {
    width: 30%;
    height: 100%;
}

/* header - 날씨 */
.weather-area{
    position: relative;
    left: 380px;
    
    width: 500px;
    height: 0px;
    margin-top: 10px;
}

/* header - 검색창 */
#search-area {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 4px;
    padding-left: 120px;
}

#search-area fieldset {
    width: 230px;
    height: 40px;
    border: 1px solid rgb(153, 216, 199);
    border-radius: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#query {
    width: 230px;
    font-size: 15px;
    outline: 0;
    border: none;
}

#search-area section {
    width: 250px;
    height: 25px;
    display: flex;
    align-items: center;
    border: none;
}

#search-btn {
    background-color: white;
    font-size: 1.5em;
    color: rgb(153, 216, 199);
    cursor: pointer;
    border: none;
}



/* header - 로그인/회원가입 버튼 */
.login-area {
    width: 180px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0px;
}

.login-area2 {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 4px;
}

.btn-style {
    width: 80px;
    height: 33px;
    margin: 5px;

    border: 1px solid transparent;
    border-radius: 10px;

    background-color: rgb(153, 216, 199);
    font-size: 11px;
    font-weight: bold;

    cursor: pointer;
}

.btn-style:hover{
    background-color: #ddd;
    transition-duration: 1s;
}

.login-area button {
    color: white;
}

.login-area2 button {
    color: white;
}


/* navigation */
nav {
    border-top: 1px solid rgb(153, 216, 199);
    border-bottom: 1px solid rgb(153, 216, 199);

    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-top: 10px;
}

#nav {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.nav-menu {
    width: 192px;
    height: 50px;
    padding: 11px;

    text-align: center;
}

.nav-menu:hover{
    color: rgb(153, 216, 199);
}

#nav > a {
    color: black;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
}

/* footer */
footer {
    width: 100%;
    height: 100px;
    background-color: rgba(224, 224, 224, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
}


footer > section:first-child {
    width: 400px;
    height: 100%;
    line-height: 100px;
    text-align: center;
}

.footer {
    width: 150px;
    height: 100%;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}

.footer > a{
    text-decoration: none;
    color: black;
}

.loginArea5{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-direction: column;
    padding: 0;
    
    width: 200px;
}

.loginArea5 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.logout-btn-style {
    width: 100px;
    height: 35px;

    border: 1px solid transparent;
    border-radius: 10px;

    background-color: rgb(153, 216, 199);
    font-size: 15px;
    font-weight: bold;

    cursor: pointer;
}

.logout-btn-style:hover {
    background-color: #ddd;
    transition-duration: 1s;
}

#nickname-member {
    font-weight: bold;
    margin-bottom: 5px;
}

/* 관리자 로그인 시 로그아웃, 관리자 페이지 버튼 활성화 */
.logout-admin-btn-area{
    display: flex;
}

.logout-btn{
    width: 80px;
    height: 33px;
    margin: 5px;

    border: 1px solid transparent;
    border-radius: 10px;

    background-color: rgb(153, 216, 199);
    font-size: 11px;
    font-weight: bold;

    cursor: pointer;
}

.logout-btn:hover{
    background-color: #ddd;
    transition-duration: 1s;
}

.admin-btn{
    width: 80px;
    height: 33px;
    margin: 5px;

    border: 1px solid transparent;
    border-radius: 10px;

    background-color: rgb(153, 216, 199);
    font-size: 11px;
    font-weight: bold;

    cursor: pointer;
}

.admin-btn:hover{
    background-color: #ddd;
    transition-duration: 1s;
}