@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* { box-sizing: border-box; }


body {
    font-family: 'Noto Sans KR', sans-serif;
}

section {
    border: 1px solid black;
}


main {
    width: 1200px;
    height: auto;
    margin: auto;
}

header {
    width: 100%;
    height: 175px;
}

.head {
    width: 100%;
    height: 175px;
    display: flex;
}



/* 로고 */
#logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.head > section:nth-child(2) {
    width: 30%;
    height: 100%;
}



/* header - 검색창 */
#search-area {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 30px;
    padding-left: 120px;
}

#search-area fieldset {
    width: 230px;
    height: 40px;
    border: 2px solid rgb(153, 216, 199);
    border-radius: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#query {
    width: 230px;
    font-size: 15px;
    outline: 0;
    border: none;
}

#search-area section {
    width: 250px;
    height: 25px;
    display: flex;
    align-items: center;
    border: none;
}

#search-btn {
    background-color: white;
    font-size: 1.5em;
    color: rgb(153, 216, 199);
    cursor: pointer;
    border: none;
}



/* header - 로그인/회원가입 버튼 */
.login-area {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 30px;
}

.login-area > button {
    width: 100px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 10px;
    /* background-color: rgba(153, 216, 199, 0.46); */
    background-color: rgb(153, 216, 199);
    font-weight: bold;
    margin: 0 5px;
}

.login-area a {
    color: white;
    text-decoration: none;
}


/* navigation */
nav {
    width: 100%;
    height: 50px;
    background-color: rgb(153, 216, 199);
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

#nav {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    
}

.nav-menu {
    width: 25%;
    height: 50px;
    text-align: center;
    padding: 11px;
    border-radius: 15px;
}

.nav-menu > a {
    color: white;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
}

#middle {
    height: 100%;
    
}


#title-review{
    font-size: 25px;
    padding: 1px 100px;
    border-bottom: 1px solid gray;
}


/* 베스트 리뷰 */
/* ---------------------------------------------------------------------------------------------- */
#best-review{
    display: flex;
    justify-content: space-around;
}

#best-review > :nth-child(1){
    border: 1px solid black;
}

#best-review > :nth-child(2){
    border: 1px solid black;
}

#best-review > :nth-child(3){
    border: 1px solid black;
}

#Writer-1{
    display: flex;
}

#Writer-1-2 > div{
    
    text-align: center;
}

#Writer-text{
    padding: 10px 10px;
}

.fa-regular{
    font-size: 30px;
}

#Writer-2{
    display: flex;
    justify-content: space-around;

}

#best-review > div > :nth-child(4){
    display: flex;
    justify-content: space-around;

}
/* //----------------------------------------------- ----------------------------------*/
/* 공지사항 */

#Notice-1{
    display: flex;
    align-items: center;

    
}

#Notice-1 > :nth-child(2){
    display: inline;
    text-align: center;
    padding-left: 15px;
}

#Notice-1 > :nth-child(1){
    font-size: 24px;
    font-weight: bold;
    padding-left: 50px;
}



/* 여행 리뷰 */
/* -------------------------------------------------------------------------------------------------- */

#Travel-Review1{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;

}

#Travel-Review2{
    display: flex;
    justify-content: space-around;

}

#Travel-Review1 > div > :nth-child(4){
    display: flex;
    justify-content: space-around;
}
#Travel-Review2 > div > :nth-child(4){
    display: flex;
    justify-content: space-around;
}






/* -------------------------------------------------------------------------------------------------- */



/* footer */
footer {
    width: 100%;
    height: 100px;
    background-color: rgba(224, 224, 224, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
}


footer > section:first-child {
    width: 400px;
    height: 100%;
    line-height: 100px;
    text-align: center;
}

.footer {
    width: 150px;
    height: 100%;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}