.reply-box1 {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 30px;
}

.reply-name {
    font-size: 20px;
}

.reply-box2{
    display: flex;
    align-items: center;
    width: 100%;
}

.profileImage {
    width: 40px;
    height: 40px;
}

.reply-nickname {
    padding: 0 10px;
}

.btn-box {
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reply-content {
    display: block;
    padding-left: 50px;
}

.reply {
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
    margin-left: 30px;
    padding-bottom: 10px;
}

.reply-btn {
    width: 60px;
    height: 40px;

    background-color: rgb(153, 216, 199);
    border-radius: 15px;
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5px;
}

.reply-write-area {
    display: flex;
    justify-content: center;
    min-height: 85px;
    margin: 0;
    width: 100%;
}

.reply-textarea {
    width: 900px;
    height: 20px;
    resize: none;
    margin-right: 10px;
    margin-left: 15px;
    border: 0;
    outline: 0;
    font-size: 14px;
}

.style {
    margin: 0;
}

.reply-write-area > button {
    margin: 22px 2px 0;
}

.reply-textarea-style {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 6px;
    padding: 0 10px;
}

.textarea {
    border: 0;
}

#addReply {
    margin-left: 25px;
}

.update-textarea {
    width: 84%;
    height: 90px;
    resize: none;
    margin-left: 50px;
    margin-top: 10px;
}