.reply-box1 {
    display: flex;
    text-align: center;
    gap: 10px;
    padding: 30px;
}

.reply-name {
    font-size: 20px;
}

.reply-box2{
    display: flex;
    align-items: center;
    padding-left: 30px;
    width: 100%;
}

.profileImage {
    width: 40px;
    height: 40px;
}

.reply-nickname {
    padding: 0 10px;
}

.btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reply-content {
    display: block;
    align-items: center;
    padding: 0 80px 30px;
}

.reply-btn {
    width: 60px;
    height: 40px;

    background-color: rgb(153, 216, 199);
    border-radius: 15px;
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.reply-write-area {
    display: flex;
    justify-content: center;
    min-height: 85px;
    margin: 0;
    width: 100%;
}

.reply-textarea {
    width: 1000px;
    resize: none;
    margin-right: 10px;
    margin-left: 80px;
}

.reply-write-area > button {
    margin: 22px 2px 0;
}