@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* { box-sizing: border-box; }


body {
    font-family: 'Noto Sans KR', sans-serif;
}

section {
    /* border: 1px solid black; */
}


main {
    width: 1200px;
    height: auto;
    margin: auto;
}

header {
    width: 100%;
    height: 175px;
}

.head {
    width: 100%;
    height: 175px;
    display: flex;
}



/* 로고 */
#logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.head > section:nth-child(2) {
    width: 30%;
    height: 100%;
}



/* header - 검색창 */
#search-area {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 30px;
    padding-left: 120px;
}

#search-area fieldset {
    width: 230px;
    height: 40px;
    border: 2px solid rgb(153, 216, 199);
    border-radius: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#query {
    width: 230px;
    font-size: 15px;
    outline: 0;
    border: none;
}

#search-area section {
    width: 250px;
    height: 25px;
    display: flex;
    align-items: center;
    border: none;
}

#search-btn {
    background-color: white;
    font-size: 1.5em;
    color: rgb(153, 216, 199);
    cursor: pointer;
    border: none;
}



/* header - 로그인/회원가입 버튼 */
.login-area {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 30px;
}

.login-area > button {
    width: 100px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 10px;
    /* background-color: rgba(153, 216, 199, 0.46); */
    background-color: rgb(153, 216, 199);
    font-weight: bold;
    margin: 0 5px;
}

.login-area a {
    color: white;
    text-decoration: none;
}


/* navigation */
nav {
    width: 100%;
    height: 50px;
    background-color: rgb(153, 216, 199);
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

#nav {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    
}

.nav-menu {
    width: 25%;
    height: 50px;
    text-align: center;
    padding: 11px;
    border-radius: 15px;
}

.nav-menu > a {
    color: white;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
}

/* --------------------------------------------------------------------- */
#middle {
    height: 100%;
    margin: 0 110px;
}

/* 타이틀 span */
.title{
    margin: 40px 35px;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.query-result {
    font-size: 20px;
    margin-left: 12px;
    font-weight: normal;
}

/* 게시글 작성 버튼 div */
#write-btn {
    background-color: rgb(153, 216, 199);
    width: 80px;
    height: 30px;
    border-style: none;
    border-radius: 15px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    left: 960px;
    top: -70px;
}

/* 게시글 작성 버튼 a */
#write-btn > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

/* ----------------------------------------------------------------- */

/* 게시글 6개 사이즈 div */
.content {
    display: grid;
    justify-items: center;
    row-gap: 60px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.nothing {
    height: 500px;
    width: 800px;
    position: relative;
    top: 229px;
    left: 287px;
    font-size: 37px;
    font-weight: bold;
}

/* 게시글 1개 사이즈 div */
.board-area {
    width: 250px;
}

/* 회원 프로필 + 닉네임 div */
.member-box {
    display: flex;
}

/* 회원 프로필 이미지 img */
.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* 회원 닉네임 span */
.memberNickname{
    padding: 10px 10px;
}

/* 아이콘 감싸는 div */
.icon-box {
    display: flex;
    justify-content: space-around;
}

/* 좋아요/댓글 수 div */
.count {
    text-align: center;
}

/* 좋아요/댓글 아이콘 i */
.fa-regular{
    font-size: 30px;
}

/* 게시글 썸네일 이미지 img */
.thumbnail-size {
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px 0;
}

/* 게시글 제목 */
.boardTitle {
    word-break: keep-all;
    word-wrap: break-word;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

/* --------------------------------------------------------------------- */
/* 페이지네이션 */
.pagination {
    padding: 0;
    margin: 50px 0;
    list-style: none;

    display: flex;
    justify-content: center;
}

.pagination > li {
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bold;
}

/* 현재 페이지 번호 */
.pagination .current {
    width: 27px;
    height: 27px;
    background-color: rgb(153, 216, 199);
    border-radius: 50%;
    color: white;
    font-weight: bold;
    padding-bottom: 2px;
    text-align: center;
}

#boardSearch {
    width: 500px;
    height: 30px;

    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}

#boardSearch * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#boardSearch select {
    width: 100px;
}

#boardSearch input {
    margin: 0 10px;
    flex-grow: 1;
    padding-left: 10px;
}

#boardSearch button {
    width: 100px;
    background-color: rgb(153, 216, 199);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 0;
}


/* --------------------------------------------------------------------- */
/* footer */
footer {
    width: 100%;
    height: 100px;
    background-color: rgba(224, 224, 224, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
}


footer > section:first-child {
    width: 400px;
    height: 100%;
    line-height: 100px;
    text-align: center;
}

.footer {
    width: 150px;
    height: 100%;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}