#middle {
    height: 100%;
    
}


#title-review{
    font-size: 25px;
    padding: 1px 100px;
    border-bottom: 1px solid gray;
}


/* 베스트 리뷰 */
/* ---------------------------------------------------------------------------------------------- */
#best-review{
    display: flex;
    justify-content: space-around;
}

#best-review > :nth-child(1){
    border: 1px solid black;
}

#best-review > :nth-child(2){
    border: 1px solid black;
}

#best-review > :nth-child(3){
    border: 1px solid black;
}

#Writer-1{
    display: flex;
}

#Writer-1-2 > div{
    
    text-align: center;
}

#Writer-text{
    padding: 10px 10px;
}

.fa-regular{
    font-size: 30px;
}

#Writer-2{
    display: flex;
    justify-content: space-around;

}

#best-review > div > :nth-child(4){
    display: flex;
    justify-content: space-around;

}
/* //----------------------------------------------- ----------------------------------*/
/* 공지사항 */

#Notice-1{
    display: flex;
    align-items: center;

    
}

#Notice-1 > :nth-child(2){
    display: inline;
    text-align: center;
    padding-left: 15px;
}

#Notice-1 > :nth-child(1){
    font-size: 24px;
    font-weight: bold;
    padding-left: 50px;
}



/* 여행 리뷰 */
/* -------------------------------------------------------------------------------------------------- */

#Travel-Review1{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;

}

#Travel-Review2{
    display: flex;
    justify-content: space-around;

}

#Travel-Review1 > div > :nth-child(4){
    display: flex;
    justify-content: space-around;
}
#Travel-Review2 > div > :nth-child(4){
    display: flex;
    justify-content: space-around;
}






/* -------------------------------------------------------------------------------------------------- */
