
/* --------------------------------------------------------------------------------------- */
#middle {
    height: 100%;
    
}

#title-notice{
    font-size: 25px;
    padding: 1px 100px;
    margin-bottom: 50px;
}

.title-area{
    margin: 40px 35px;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: black;
    font-weight: bold;
}

/*--------------------------------------------------------------------------------------------------*/

.list-table{
    width: 100%;
    padding: 0 100px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray; 
    border-collapse : collapse;
}

.list-table tr{
    height: 60px;
}

.list-table tr > *{
    text-align: center;
}

.list-table tr > *:nth-last-of-type(1){width: 10%;}
.list-table tr > td:nth-of-type(2){
    width: 50%;
    text-align: left;
    padding-left: 50px;
}
.list-table tr > *:nth-of-type(3){width: 15%;}
.list-table tr > *:nth-of-type(4){width: 15%;}
.list-table tr > *:nth-of-type(5){width: 10%;}

.list-table td > a{
    text-decoration: none;
    color: black;
}

.list-table tr > td{

    border-top: 1px solid gray;
}

.table-1{
    width: 200px;
    padding: 20px 0;
    border-top: 1px solid gray;
    text-align: center;

    font-size: 20px;
    font-weight: bold;
}

#tr{
    background-color:  rgb(153, 216, 199);
    
}

#tr > th{
    color: white;
}

.table-1 title{
    text-align: center;
}




#last{
    margin: 80px 0;
}

.btn-area{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* 글쓰기 버튼 */
#insertBtn{
    margin-right: 130px;
    margin-top: 40px;

    width: 80px;
    height: 40px;

    background-color: white;
    border: 2px solid rgb(153, 216, 199);
    color: rgb(153, 216, 199);

    border-radius: 5px;

    font-weight: bold;
    cursor: pointer;
}

#insertBtn:hover{
    background-color: rgb(153, 216, 199);
    color: white;
}



/* 페이지네이션(Pagination) */
.pagination{
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
}

.pagination > li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination > li > a{
    color: black;
    text-decoration: none;
}

.pagination a{
    width: 100%;
    height: 100%;
    display: block;
   /*  letter-spacing: -2px; */
}

/* 현재 페이지 번호 */
.pagination .current{
    background-color: rgb(153, 216, 199);
    color: white;
    font-weight: bold;
    border-radius: 50%;

}



/* -------------------------------------------------------------------------------------- */
/* 썸네일 관련 */
.list-thumbnail{
    max-width: 50px;
    max-height: 30px;
    position: absolute;
    left: -15px;
    top: 17px;
}

.list-table tr > td:nth-of-type(2){
    position: relative;
}

/* ------------------------------------------------------------------------------------------------------- */
/* modal 화면 */
.modal{
    background-color: rgba(0, 0, 0, 0);

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index:  50;

    display: none;
}

.modal.show{
    animation-name: hide;
    animation-duration: 0.5s;
}

#modal-image{
    background-color: white;
    margin: auto;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;

}

#modal-close{
    position: absolute;
    top: 20px;
    right: 40px;

    color: white;
    font-size: 50px;
    font-weight: bold;

    transition-duration: 0.2s;
    cursor: pointer;
}

#modal-close:hover{
    transform: scale(1.2);
}

@keyframes show {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes hide{
    from{opacity: 1;}
    to{opacity: 0;}
}


