@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* { box-sizing: border-box; }


body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* section {
    border: 1px solid black;
} */


main {
    width: 1200px;
    height: auto;
    margin: auto;
}

header {
    width: 100%;
    height: 175px;
}

.head {
    width: 100%;
    height: 175px;
    display: flex;
}



/* 로고 */
#logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.head > section:nth-child(2) {
    width: 30%;
    height: 100%;
}



/* header - 검색창 */
#search-area {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 30px;
    padding-left: 120px;
}

#search-area fieldset {
    width: 230px;
    height: 40px;
    border: 2px solid rgb(153, 216, 199);
    border-radius: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#query {
    width: 230px;
    font-size: 15px;
    outline: 0;
    border: none;
}

#search-area section {
    width: 250px;
    height: 25px;
    display: flex;
    align-items: center;
    border: none;
}

#search-btn {
    background-color: white;
    font-size: 1.5em;
    color: rgb(153, 216, 199);
    cursor: pointer;
    border: none;
}



/* header - 로그인/회원가입 버튼 */
.login-area {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 30px;
}

.login-area > button {
    width: 100px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 10px;
    /* background-color: rgba(153, 216, 199, 0.46); */
    background-color: rgb(153, 216, 199);
    font-weight: bold;
    margin: 0 5px;
}

.login-area a {
    color: white;
    text-decoration: none;
}


/* navigation */
nav {
    width: 100%;
    height: 50px;
    background-color: rgb(153, 216, 199);
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

#nav {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    
}

.nav-menu {
    width: 25%;
    height: 50px;
    text-align: center;
    padding: 11px;
    border-radius: 15px;
}

.nav-menu > a {
    color: white;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
}

/* --------------------------------------------------------------------------------------- */
#middle {
    height: 100%;
    
}

#title-notice{
    font-size: 25px;
    padding: 1px 100px;
    border-bottom: 1px solid gray;
    margin-bottom: 50px;
    
}



/*--------------------------------------------------------------------------------------------------*/

.list-table{
    width: 100%;
    padding: 0 100px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray; 
    border-collapse : collapse;
}

.list-table tr{
    height: 60px;
}

.list-table tr > *{
    text-align: center;
}

.list-table tr > *:nth-last-of-type(1){width: 10%;}
.list-table tr > td:nth-of-type(2){
    width: 50%;
    text-align: left;
    padding-left: 50px;
}
.list-table tr > *:nth-of-type(3){width: 15%;}
.list-table tr > *:nth-of-type(4){width: 15%;}
.list-table tr > *:nth-of-type(5){width: 10%;}

.list-table td > a{
    text-decoration: none;
    color: black;
}

.list-table tr > td{

    border-top: 1px solid gray;
}

.table-1{
    width: 200px;
    padding: 20px 0;
    border-top: 1px solid gray;
    text-align: center;

    font-size: 20px;
    font-weight: bold;
}

#tr{
    background-color: lightgray;
    
}

.table-1 title{
    text-align: center;
}




#last{
    margin: 80px 0;
}

.btn-area{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* 글쓰기 버튼 */
#insertBtn{
    margin-right: 130px;
    margin-top: 40px;

    width: 80px;
    height: 40px;

    background-color: white;
    border: 2px solid rgb(153, 216, 199);
    color: rgb(153, 216, 199);

    border-radius: 5px;

    font-weight: bold;
    cursor: pointer;
}


/* 페이지네이션(Pagination) */
.pagination{
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;

}

.pagination > li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination > li > a{
    color: black;
    text-decoration: none;
}

.pagination a{
    width: 100%;
    height: 100%;
    display: block;
   /*  letter-spacing: -2px; */
}

/* 현재 페이지 번호 */
.pagination .current{
    background-color: rgb(153, 216, 199);
    color: white;
    font-weight: bold;
    border-radius: 50%;

}



/* -------------------------------------------------------------------------------------- */
/* footer */
footer {
    width: 100%;
    height: 100px;
    background-color: rgba(224, 224, 224, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
}


footer > section:first-child {
    width: 400px;
    height: 100%;
    line-height: 100px;
    text-align: center;
}

.footer {
    width: 150px;
    height: 100%;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}