
/* --------------------------------------------------------------------- */

#middle {
    height: 100%px;
    
}

.container{
    padding: 0 100px;
}

.container > h2{
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
}

.title-area > h3{
    font-size: 27px;
    display: inline;
}

.title-area{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.title-area p > span{

    padding-right: 20px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}


#content-area{
    padding-top: 100px;
}

.board-content{
    padding: 100px 0;
    height: 100%;
}

.img-box{
    display: flex;
    justify-content: space-between;
}

.boardImg{
    width: 230px;
    height: 230px;
    display: inline-block;
    text-align: center;
}

.boardImg img{
    width: 100%;
    max-width: 90%;
    max-height: 90%;
}

.thumnail{
    width: 300px;
    height: 300px;
}

/* 버튼 영역 */
.board-btn-area{
    text-align: right;
}

.board-btn-area button{
    width: 80px;
    height: 30px;

    font-weight: bold;
    border: 0;
    border-radius: 5px;
    background-color: rgb(153, 216, 199);
    color: white;
    cursor: pointer;
}

.board-btn-area button:hover{
    background-color: white;
    color:  rgb(153, 216, 199);
    border: 2px solid  rgb(153, 216, 199);
    
}





.comments {
    display: flex;
    text-align: center;
    gap: 10px;
    padding: 30px;

}

.cmt{
    font-size: 20px;
}

.cmt-1{
    align-items: center;
}

#Writer-1{
    display: flex;
    align-items: center;
    padding-left: 30px;
}

#Writer-text{
    padding: 10px 10px;
}

#fieldset{
    display: flex;
    justify-content: space-between;
}

#text{
    width: 950px;
    height: 50px;
    border: 0;
    outline: 0;
}

#text-btn{
    background-color: white;
    border: 0;
    cursor: pointer;
    color: #666;
}

.comments-text{
    display: flex;
}

#comments-text2{

    padding-left: 50px;
}

#Writer-2{

    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}





/* --------------------------------------------------------------------- */
