/* 오른쪽 내용 화면 */
.right-section{
    width: 900px;
}

/* 관리자 페이지 상단 우측 제목 */
.right-section > section:first-of-type{
    display: flex;
    height: 100px;
}

.title{
    width: 96%;
    padding: 30px 15px;
    margin-left: 20px;
    
    font-size: 30px;
    font-weight: bold;

    border-bottom: 1px solid #ddd;
}

/* 회원 검색 및 탈퇴 영역 */
.right-section > section:nth-of-type(2){
    height: 50px;
    
    display: flex;
    align-items: end;
}

.search-area{
    display: flex;
    padding: 0 20px;
}

#member-search{
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#member-search:focus{
    outline: none;
}

.search-btn{
    margin-top: 2px;
    margin-left: 7px;
    height: 30px;
    width: 50px;

    border: none;
    border-radius: 5px;

    background-color: rgb(153, 216, 199);
    color: white;
    font-size: 15px;

    cursor: pointer;
}

.search-btn:hover{
    background-color: #ddd;
    color: white;

    transition-duration: 1s;
}




#secession-btn{
    width: 85px;
    height: 35px;

    position: relative;
    left: 530px;

    border: 1px solid transparent;
    border-radius: 10px;

    font-size: 15px;

    color: white;
    background-color: #ddd;

    cursor: pointer;
}

#secession-btn:hover{
    color: white;
    background-color: #000000;

    transition-duration: 1s;
}

/* 회원 관리 내용 영역 */
.right-section > section:nth-of-type(3){
    height: 920px;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.member-table{
    margin: 20px 0 20px;
    background-color: white;
    width: 860px;
    
    border: 1px solid #ddd;
    border-collapse: collapse;

    text-align: center;
}

.table-bk{
    background-color: #eeeeee;
    border: 1px solid #ddd;
    font-size: 13px;
}

.member-table th, td{
    border: 1px solid #ddd;
}

#search-container{
    overflow: auto;
}