/* middle */
#middle {
    height: 1100px;
    display: flex;
}

.left-section {
    width: 300px;
    height: 100%;
    background-color: rgba(153, 216, 199, 0.46);
}

.left-section-head {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    font-weight: bold;
}

.left-section-profile {
    width: 100%;
    height: 250px;
    text-align: center;
}

#real-profile-image {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.left-section-profile > section {
    font-size: 20px;
    padding-top: 5px;
}

.left-section-btn-area {
    width: 100%;
    height: 550px;
    text-align: center;
}

.left-section-btn-box {
    width: 80%;
    height: 50px;
    background-color: rgb(153, 216, 199);
    border: 1px solid transparent;
    border-radius: 25px;
    margin: 50px 22px;
    padding-top: 10px;
}

.left-section-btn-box > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}



/* 회원 정보 수정 */
.right-section {
    width: 100%;
    height: 900px;
    padding: 30px 10px;
}

.right-section-head {
    width: 100%;
    height: 100px;
    
    font-size: 30px;
    font-weight: bold;
}

.right-section-area {
    width: 100%;
    height: 770px;
    display: flex;
    justify-content: center;
}

tr {
    height: 50px;
}

td:first-child { /* 비밀번호, 비밀번호 입력.. 열 스타일 */
    text-align: right;
    font-weight: bold;
    padding-right: 20px;
}

td > input[type="password"] {
    width: 300px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
}

td > input[type="text"] { /* input(text 타입) 스타일 */
    width: 300px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
}

input[type="checkbox"] { /* input(checkbox 타입) 스타일 */
    position: relative;
    width: 17px;
    margin-left: 20px;
}

#pw-check-td {
    position: absolute;
    top: 376px;
}

#pw-check {
    display: block;
    width: 205px;
    position: relative;
    right: 66px;
}

#nickname-check { /* 닉네임 중복 확인 버튼 */
    width: 79px;
    height: 30px;

    border: 1px solid transparent;
    border-radius: 15px;
    background-color: rgb(153, 216, 199);
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    right: 66px;
}

#nickname-td {
    position: relative;
    padding-top: 29px;
}

/* 프로필 사진 */
#profile-td {
    position: relative;
    bottom: 23px;
}

#profile-area {
    display: flex;
    justify-content: start;
    height: 250px;
    padding-left: 73px;
}

#image-preview {
    width: 152px;
    height: 152px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
}

#profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#delete-image {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

/* 프로필 사진 업로드 버튼(div) */
#profile-btn {
    width: 95px;
    height: 30px;
    
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: rgb(153, 216, 199);
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
    padding-top: 4px;

    position: relative;
}

#profile-btn > label {
    cursor: pointer;
}

/* input[type="file"] */
#profile-upload {
    width: 94px;
    height: 30px;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

/* 주소 */
#address-td {
    position: relative;
    bottom: 39px;
}

.address {
    width: 300px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 4px 0;
}

#zipcode {
    width: 150px;
}

#address-btn {
    width: 79px;
    height: 30px;

    border: 1px solid transparent;
    border-radius: 15px;
    background-color: rgb(153, 216, 199);
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    margin-left: 73px;
    
}

/* 선호 테마 */
input[name="theme"] {
    margin-left: 0px;
}

td > label {
    position: relative;
    top: -1px;
}

/* 비밀번호 찾기 질문 */
select, option {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
}

/* 체크박스 브이 */
select {
    -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    appearance:none;
 }
 
 select::-ms-expand{
    display:none;/*for IE10,11*/
 }

 select {
    background:url(../../images/sign.png) no-repeat 97% 50%/11px auto;
 }

/* submit */
.submit {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.submit > button {
    width: 79px;
    height: 30px;

    border: 1px solid transparent;
    border-radius: 15px;
    background-color: rgb(153, 216, 199);
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    margin: 0 10px;
}