/* middle */
#middle {
    height: auto;
    display: flex;
}

/* 왼쪽 영역 - 마이페이지 사이드 바 */
.left-section {
    width: 300px;
    height: auto;
    background-color: rgba(153, 216, 199, 0.46);
}

.left-section-head {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    font-weight: bold;
}

#real-profile-image {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.left-section-profile {
    text-align: center;
}

.left-section-profile > section {
    font-size: 20px;
    padding-top: 5px;
}

.left-section-btn-area {
    width: 100%;
    height: 550px;
    text-align: center;
}

.left-section-btn-box {
    width: 80%;
    height: 50px;
    background-color: rgb(153, 216, 199);
    border: 1px solid transparent;
    border-radius: 25px;
    margin: 50px 22px;
    padding-top: 10px;
}

.left-section-btn-box > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

/* 오른쪽 내용 화면 */
.right-section{
    width: 900px;
    height: auto;
}

/* 관리자 페이지 상단 우측 제목 */
.right-section > section:first-of-type{
    height: 100px;
}

.title{
    width: 96%;
    padding: 30px 15px;
    margin-left: 20px;
    
    font-size: 30px;
    font-weight: bold;

    border-bottom: 1px solid #ddd;
}

.right-section > section:nth-of-type(2){
    width: 840px;
    height: 700px;
}

/* 일대일 문의 상세 조회 영역 */
.customer-inquiry{
    margin: 30px 30px 30px;
    text-align: center;
}

.customer-inquiry2{
    margin: 30px 30px 30px;
    text-align: center;
    display: felx;
    justify-content: space-between;
}

/* 일대일 문의 상세 조회 제목 */
.customer-inquiry > section:first-of-type{
    height: 50px;

    padding-left: 20px;

    display: flex;
    align-items: center;

    font-size: 20px;
    font-weight: bold;

    border: 1px solid #ddd;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* 일대일 문의 상세 조회 정보 */
.customer-inquiry > section:nth-of-type(2){
    height: 30px;

    text-align: end;

    padding-right: 20px;

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    font-size: 13px;
}

/* 일대일 문의 상세 조회 내용 */
.customer-inquiry > section:nth-of-type(3){
    height: 600px;
    
    text-align: left;
    padding: 20px;

    overflow: auto;

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* 댓글 상세 조회 영역 */
.customer-inquiry2{
    margin: 30px 30px 30px;
    text-align: center;
}

.customer-inquiry2{
    margin: 30px 30px 30px;
    text-align: center;
}

/* 목록으로, 수정하기, 삭제하기 버튼 영역 */
.reply-btn-area{
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}

#go-to-list-btn{
    margin-top: 10px;
    margin-left: 7px;
    height: 30px;
    width: 85px;

    border: none;
    border-radius: 5px;

    background-color: #ddd;
    color: white;
    font-size: 15px;

    cursor: pointer;
}

#go-to-list-btn:hover{
    background-color: black;
    color: white;

    transition-duration: 1s;
}

#reply-btn{
    margin-top: 10px;
    margin-left: 7px;
    height: 30px;
    width: 85px;

    border: none;
    border-radius: 5px;

    background-color: #ddd;
    color: white;
    font-size: 15px;

    cursor: pointer;
}

#reply-btn:hover{
    background-color: black;
    color: white;

    transition-duration: 1s;
}

#delete-btn{
    margin-top: 10px;
    margin-left: 7px;
    height: 30px;
    width: 85px;

    border: none;
    border-radius: 5px;

    background-color: #ddd;
    color: white;
    font-size: 15px;

    cursor: pointer;
}

#delete-btn:hover{
    background-color: black;
    color: white;

    transition-duration: 1s;  
}

/* 일대일 문의 답변 조회 영역 */
.reply-select-area > section:first-of-type{
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
}

.title-style{
    width: 800px;
    height: 30px;

    padding: 8px;

    resize: none;
    outline: none;

    overflow: hidden;
}

.content-style{
    width: 796px;
    height: 552px;

    padding: 8px;

    resize: none;
    outline: none;

    overflow: auto;
}

.reply-btn{
    margin-top: 5px;
    margin-left: 7px;
    height: 30px;
    width: 60px;

    border: none;
    border-radius: 5px;

    color: white;
    background-color: #ddd;

    cursor: pointer;
}

.reply-btn:hover{
    color: white;
    background-color: #000000;

    transition-duration: 1s;
}

.cancel-btn{
    margin-top: 5px;
    margin-left: 7px;
    height: 30px;
    width: 60px;

    border: none;
    border-radius: 5px;

    color: white;
    background-color: #ddd;

    cursor: pointer;
}

.cancel-btn:hover{
    color: white;
    background-color: #000000;

    transition-duration: 1s;
}


.updateContent-content2{
    height: 35px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.updateContent-content2>span:nth-child(2){
    width: 90%;
    text-align:left;
}

.updateContent-content2>span:nth-child(3){
    width: 15%;
}
.memberNick{
    height: 35px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px dotted #ddd ;
}

#cd{
    margin-left: 15px;
    font-size: 10px;
    color: gray;
}

#reply{
    margin-right: 5px;
}

#deleteBtn2{
    margin-left: 10px;
    height: 25px;
    width: 80px;

    border: none;
    border-radius: 5px;

    background-color: #ddd;
    color: white;
    font-size: 15px;

    cursor: pointer;
}

#deleteBtn2:hover{
    background-color: black;
    color: white;

    transition-duration: 1s;  
}
