/* middle */
#middle {
    height: 1100px;
    display: flex;
}

/* 왼쪽 영역 - 마이페이지 사이드 바 */
.left-section {
    width: 300px;
    height: 100%;
    background-color: rgba(153, 216, 199, 0.46);
}

.left-section-head {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    font-weight: bold;
}

#real-profile-image {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.left-section-profile {
    text-align: center;
}

.left-section-profile > section {
    font-size: 20px;
    padding-top: 5px;
}

.left-section-btn-area {
    width: 100%;
    height: 550px;
    text-align: center;
}

.left-section-btn-box {
    width: 80%;
    height: 50px;
    background-color: rgb(153, 216, 199);
    border: 1px solid transparent;
    border-radius: 25px;
    margin: 50px 22px;
    padding-top: 10px;
}

.left-section-btn-box > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

/* 오른쪽 영역 - 일대일 문의 조회 */
.right-section{
    width: 900px;
}

.right-section > section:first-of-type{
    display: flex;
    height: 100px;
}

.title{
    width: 96%;
    padding: 30px 15px;
    margin-left: 20px;
    
    font-size: 30px;
    font-weight: bold;

    border-bottom: 1px solid #ddd;
}

/* 소제목 영역 */
.right-section > section:nth-of-type(2){
    margin-top: 10px;
    margin-left: 32px;

    font-size: 23px;
    font-weight: bold;
}

.board-write-area{
    text-align: center;
}

.post-area{
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
}

#post-title{
    width: 800px;

    padding: 10px;

    border: none;
    outline: none;

    font-size: 15px;
}

.post-line{
    border-top: 1px solid #ddd;
}

#post-writing-area{
    resize: none;

    padding: 10px;

    border: none;
    outline: none;
}

.insert-btn-area{
    margin-top: 15px;
    text-align: center;
}

.insert-btn-area > button{
    margin-top: 2px;
    margin-left: 7px;
    height: 30px;
    width: 60px;

    border: none;
    border-radius: 5px;

    color: white;
    background-color: #ddd;

    cursor: pointer;
}

.insert-btn-area > button:hover{
    color: white;
    background-color: #000000;

    transition-duration: 1s;
}