@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* { box-sizing: border-box; }


body {
    font-family: 'Noto Sans KR', sans-serif;
}

main {
    width: 1200px;
    height: auto;
    margin: auto;
}

header {
    width: 100%;
    height: 175px;
}

.head {
    width: 100%;
    height: 175px;
    display: flex;
}



/* 로고 */
#logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.head > section:nth-child(2) {
    width: 30%;
    height: 100%;
}



/* header - 검색창 */
#search-area {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 30px;
    padding-left: 120px;
}

#search-area fieldset {
    width: 230px;
    height: 40px;
    border: 2px solid rgb(153, 216, 199);
    border-radius: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#query {
    width: 230px;
    font-size: 15px;
    outline: 0;
    border: none;
}

#search-area section {
    width: 250px;
    height: 25px;
    display: flex;
    align-items: center;
    border: none;
}

#search-btn {
    background-color: white;
    font-size: 1.5em;
    color: rgb(153, 216, 199);
    cursor: pointer;
    border: none;
}



/* header - 로그인/회원가입 버튼 */
.login-area {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 30px;
}

.login-area > button {
    width: 100px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 10px;
    /* background-color: rgba(153, 216, 199, 0.46); */
    background-color: rgb(153, 216, 199);
    font-weight: bold;
    margin: 0 5px;
}

.login-area a {
    color: white;
    text-decoration: none;
}


/* navigation */
nav {
    width: 100%;
    height: 50px;
    background-color: rgb(153, 216, 199);
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

#nav {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    
}

.nav-menu {
    width: 25%;
    height: 50px;
    text-align: center;
    padding: 11px;
    border-radius: 15px;
}

.nav-menu > a {
    color: white;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
}

#middle {
    height: 1200px;
    display: flex;
}

#left{
    width: 30%;
}

#title-box {
    padding: 10px;
    border-top: 1px solid #ddd;
}

#title-box > div {
    margin: 20px 0;
}

.profile-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-box > span {
    padding: 0 10px;
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.member-box {
    display: flex;
    align-items: center;
}

.nickname-span {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.pmBtn-box {
    margin-left: 180px;
}

.pmBtn {
    width: 23px;
    height: 29px;
    background-color: black;
    border-radius: 15%;
    border: 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.pmBtn-box > span {
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
}

#input-title {
    font-size: 16px;
    border: none;
    outline: none;
    margin-left: 20px;
}

#left-text{
    width: 600px;
    height: 100px;
}

#right{
    width: 70%;
    height: 100%;
    border: 1px solid #ddd;
}

#right-map{
    border: 1px solid black;
    width: 600px;
    height: 350px;
    margin: 30px;
}

#result-area {
    display: flex;
    margin-top: 20px;
}

#result-box{
    width: 100%;
    display: flex;
    margin-right: 10px;
}

.result-box {
    width: 50%;
    height: 50%;
    border-radius: 15px;
    text-align: start;
}

#right-button {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10px;
}

#add-place {
    background-color: rgb(153, 216, 199);
    border: 0;
    color: white;
    width: 120px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.save-btn-area {
    margin: 20px 10px;
    display: flex;
    justify-content: center;
}

.button-style {
    background-color: rgb(153, 216, 199);
    border: 0;
    color: white;
    width: 120px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 10px;
}

.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:70%; border-bottom: 1px solid #ddd;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}



/* footer */
footer {
    width: 100%;
    height: 100px;
    background-color: rgba(224, 224, 224, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
}


footer > section:first-child {
    width: 400px;
    height: 100%;
    line-height: 100px;
    text-align: center;
}

.footer {
    width: 150px;
    height: 100%;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}

/* --------------------------------------------------------------------- */
.container {
    display: flex;
    gap: 30px;
}

.column {
    width: 100%;
    background: rgb(153, 216, 199);
    min-height: 97vh;
    max-height: 90vh;
    padding: 5px;
    overflow-y: auto;
    border-radius: 15px;
}

.column > h1 {
    text-align: center;
    font-size: 22px;
    color: white;
}

.list-group-item {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.place-image {
    width: 150px;
    border-radius: 15px;
}

.place-image2 {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    margin: 0 20px;
}

.place-name {
    padding: 0 20px;
}