#middle {
    height: 1200px;
    display: flex;
    margin: 20px 0;
}

#left{
    width: 30%;
    min-height: 100%;
}

#title-box {
    height: 20%;
    padding: 10px;
    border-top: 1px solid #ddd;
}

#title-box > div {
    margin: 20px 0;
}

.profile-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-box > span {
    padding: 0 10px;
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.member-box {
    display: flex;
    align-items: center;
}

.nickname-span {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.pmBtn-box {
    margin-left: 180px;
}

.pmBtn {
    width: 29px;
    height: 29px;
    background-color: black;
    border-radius: 15%;
    border: 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.pmBtn-box > span {
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
}

#input-title {
    font-size: 16px;
    border: none;
    outline: none;
    margin-left: 20px;
}

#left-text{
    width: 600px;
    height: 100px;
}

#right{
    width: 70%;
    height: 100%;
    border: 1px solid #ddd;
}

#right-map{
    border: 1px solid black;
    width: 600px;
    height: 350px;
    margin: 30px;
}

#result-area {
    width: 700px;
    display: flex;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    right: 10%;
    z-index: 1;
    display: none;
}

.result-box1 {
    height: 250px;
}

.result-box1 > h1 {
    margin: 0;
}

.result-box1 > h4 {
    margin: 5px 0;
}

#result-box{
    width: 100%;
    display: flex;
    margin-right: 10px;
}

#right-button {
    display: flex;
    justify-content: end;
    align-items: center;
}

.placeBtn {
    background-color: #ddd;
    border: 0;
    width: 120px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 15px;
    margin: 0 10px;
    cursor: pointer;
}

.save-btn-area {
    height: 10%;
    margin-top: 24px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}

.button-style {
    background-color: #ddd;
    border: 0;
    width: 120px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 10px;
}

.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:100%; border-bottom: 1px solid #ddd;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

/* --------------------------------------------------------------------- */
.container {
    
    display: flex;
    gap: 30px;
}

.column {
    width: 100%;
    height: 950px;
    padding: 5px;
    overflow-y: auto;
    border-top: 1px solid #ddd;
}

.column > h1 {
    text-align: center;
    font-size: 22px;
    border-radius: 5px;
    margin: 10px 20px;
    padding: 5px 0;
    background: #ddd;
}

.list-group-item {
    background: #eee;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.place-image {
    width: 150px;
    border-radius: 15px;
}

.place-image2 {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    margin-right: 20px;
}

.place-name {
    padding: 0 20px;
}